

<p id="notice"><%= notice %></p>

<h1>
  <strong>Username:</strong>
  <%= @author.username %>
</h1>

<p>
  <strong>Email:</strong>
  <%= @author.email %>
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
